@import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap');

.homenaje-regular {
  font-family: "Homenaje", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#login-title{
    font-size: 5em;
}

.login-container {
  min-height: 100vh;
  padding: 20px;
}

.login-card {
  width: 100%;
  max-width: 500px; 
  min-height: 350px;
  background-color:#EBFFEC;
  border-radius: 20px;
}