.legendColor {
  background: #e7f3ff;        
  color: #0b5ed7;        
  border : 3px solid  #0b5ed7;    
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: 500;
  display: inline-block;
  cursor: default;
  transition: background 0.2s ease;
}

.legendColor:hover {
  background: #d8ebff;        /* un poco más oscuro al pasar el ratón */
}

.legend-text-full {
  display: inline;
}

.legend-text-short {
  display: none;
}

/* En pantallas pequeñas (viewport < 768px) */
@media (max-width: 767px) {
  .legend-text-full {
    display: none;
  }
  
  .legend-text-short {
    display: inline;
  }
}